/* Start Variables */

:root {
    --main-color: #8547ca;
    --title-color: #1d1e31;
    --para-color: #0c0c0c;
    --tran-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: linear-gradient(to right, #f2f7fd 50%, #1d1e31 45%);
}

header .logo {
    font-size: 24px;
    color: var(--main-color, #8547ca);
    font-weight: 700;
}

header .list {
    width: 35px;
    cursor: pointer;
    position: relative;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
}

header .list span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
}

header .list ul {
    width: 130px;
    position: absolute;
    bottom: -100px;
    left: -95px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    background-color: var(--main-color, #8547ca);
    opacity: 0;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
}

header .list:hover ul {
    bottom: 0;
    opacity: 1;
}

header .list ul li a {
    padding: 10px 20px;
    display: block;
    color: white;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
    text-align: center;
}

header .list ul li a:hover {
    padding-left: 25px;
    color: black;
}

/* End Header */